
.container{
    display: flex;
}
.containers{
    width: 500px;
    /* height: 500px; */
    border-width: 2px;
    border-style: solid;
}
.nav-1,.nav-2{
    width: 130px;
    height: 300px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}
.nav-3{
    width: 200px;
    height: 300px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}
footer{
    width: 476px;
    height: 140px;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
}
.item-1,.item-2{
    width: 110px;
    height: 110px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}
.item-3{
    width: 170px;
    height: 110px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}

