.container{
    width: 500px;
    height: 500px;
    border-width: 2px;
    border-style: solid;
}
.nav-1,.nav-2{
    width: 100px;
    height: 90px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-3{
    width: 210px;
    height:90px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}
.item-1{
    width: 170px;
    height: 90px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}
.item-2{
    width: 270px;
    height: 90px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.item-3{
    width: 250px;
    height: 90px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}
.item-4{
    width: 190px;
    height: 90px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}
.footer{
    width: 470px;
    height: 90px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}
